<div class="new-employee-container text-white text-left p-lg-5 p-3 w-100 d-none">
    <div class="d-flex justify-content-between align-items-center">
        <h2 class="fw-light mt-1">Requests</h2>
        <div class="new-request" id="new-request-btn"><p class="text-white h4 m-0">+</p></div>
    </div>
    <hr class="text-white w-100">

    <div class="clients-table-container p-3 text-dark overflow-scroll">
        <table>
            <tr>
                <th style="border-radius: 10px 0 0 0">Company</th>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Tenant</th>
                <th style="border-radius: 0 10px 0 0">Status</th>
            </tr>
            <% requests.forEach(request => { %>
                <tr>
                    <td><%= request.company %></td>
                    <td><%= request.firstName %> <%= request.lastName %></td>
                    <td><%= request.email %></td>
                    <form action="/get-authorised" method="POST">
                    <input type="hidden" name="reqID" value="<%= request._id %>">
                    <td><% if( request.status == "Authorise"){ %>
                        <select name="tenantId" id="tenant">
                            <% tenants.forEach( tenant => { %>
                                <option value="<%= tenant.tenantId %>"><%= tenant.tenantName %></option>
                            <% }) %> 
                            <option value="NoID">New Connection</option>   
                        </select>
                      <% } else { %> 
                        <%= request.company %>                       
                       <% } %>  
                    </td>
                    <td> 
                    <% if( request.status == "Authorise"){ %>
                      <button class="status-green status" value="submit" name="submit" ><%= request.status %></button></a>
                    <% } %>
                    <% if( request.status == "Pending"){ %>
                        <p class="status-light status"><%= request.status %></p>
                    <% } %>
                    <% if( request.status == "Success"){ %>
                        <p class="status-dark status" ><%= request.status %></p>
                    <% } %>
                    <% if( request.status == "Failed"){ %>
                        <p class="status-red status" ><%= request.status %></p>
                    <% } %>
                    </td>
                </form>
                </tr>
                
            <% }) %>
        </table>
       
    </div>
</div>